/* font-family: 'Quicksand', sans-serif; */

body {
  height: 100vh;
  background-color: rgb(236, 236, 236);
}

.head-body {
  height: 13vh;
  background-color: rgb(199, 255, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 80px;
  src: local("../public/memory-logo.png");
}
