/* font-family: 'Quicksand', sans-serif; */

body {
  height: 100vh;
  background-color: rgb(236, 236, 236);
  background-image: url("https://cdn.wallpapersafari.com/10/26/brTzuF.jpg");
}

.head-body {
  height: 13vh;
  background-color: rgb(199, 255, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.head-title {
  margin: 0 auto;
  text-align: center;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 80px;
  src: local("../public/memory-logo.png");
  height: 80px;
}

.main-header {
  position: absolute;
  margin: 0 38%;
  margin-top: 15px;
  font-family: "Quicksand", sans-serif;
  color: black;
  margin-left: 40%;
  text-align: center;
}

.input-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  margin: 50px;
  padding: 6px 24px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-family: "Quicksand", sans-serif;
}

button {
  /* box-shadow:inset 0px 1px 0px 0px #ffffff; */
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.input-btn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.post {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 20px 100px;
  height: 75vh;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background-color: rgb(236, 236, 236);
}

.post-btns {
  height: 30px;
  /* position: absolute; */
}

.edit-button {
  margin: 10px 0 0 50px;
  position: absolute;
  border-style: none;
  background-color: none;
  background: none;
}

.delete-button {
  position: absolute;
  right: 0;
  margin-right: 150px;
  margin-top: 10px;
  border-style: none;
  background-color: none;
  background: none;
}

.post-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-containers {
  height: 80%;
  width: 60%;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 6px;
}

.post-image {
  height: 90%;
  width: 70%;
}

.post-side {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin-right: 5%;
}

.post-description {
  font-family: "Quicksand", sans-serif;
  height: 60%;
  width: 80%;
  margin: 20px;
  font-size: 18px;
}

.post-date {
  font-family: "Quicksand", sans-serif;
  margin: 20px;
  font-size: 18px;
}

.edit-input {
  background-color: rgb(236, 236, 236);
  height: 300px;
  width: 300px;
  margin: -10px 20px 20px 20px;
  font-family: "Quicksand", sans-serif;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  font-size: 16px;
}

.save-button {
  margin-right: 10px;
  margin-left: 80px;
}
